# REGISTRY to push images to
export REGISTRY=0bel1sk
# VERSION of project to build / deploy
export VERSION=0.0.4
# Input file location for mounting docker volume
export PRIMES_FILE=$PWD/input.txt
# port to serve http endpoint
export PRIMES_PORT=8080
